<h2>Login</h2>

<form action="/login" method="post">
  <input type="hidden" name="_method" value="post" />

  <p>
	<input type="password" name="password" />
  </p>
  <p>
	<input type="submit" name="submit" value="Login" />
  </p>
</form>
